{% extends 'master.html' %}
{% block content %}

<br>
<form method="post" action="add_cars"><br><br>
    {% csrf_token %}
<div class="container">


    <div class="jumbotron">
        <label for="brand_id">Choose a Brand_id:</label>
        <select name="brand_id" id="brand_id">
            {% for brand in b_id %}
                <option value="{{brand.id}}">{{brand.brand_name}}</option>
            {% endfor %}
        </select><br><br>

        <label for="color_id">Choose a Color_id:</label>
        <select name="color_id" id="color_id">
            {% for clr in color_id %}
                <option value="{{clr.id}}" >{{clr.color_name}}</option>
            {% endfor %}
        </select>

        <br><br>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon4">Series</span>
        </div>
        <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="series">
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            </div>
            <input type="submit" class="btn btn-success" id="basic-url3" aria-describedby="basic-addon3" >
    </div>

</div>
    </div>
</form>
{% endblock %}



